            @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Livvic:ital@1&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Livvic:wght@600&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Livvic:wght@700&display=swap');
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: 'Livvic', sans-serif;
            }
            /* custom scroll bar */
            
            body {
                background-color: #F6F7F9;
            }
            
             ::-webkit-scrollbar {
                width: 2px;
            }
            
             ::-webkit-scrollbar-track {
                background: #f1f1f1;
            }
            
             ::selection {
                background: rgba(255, 18, 18, 0.3);
            }
            
            nav {
                background: rgb(5, 47, 157);
                background: linear-gradient(71deg, rgba(5, 47, 157, 1) 0%, rgba(15, 18, 61, 1) 100%, rgba(15, 18, 61, 0.9164040616246498) 100%);
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 70px;
                padding: 0 100px;
                position: sticky;
                top: 0;
                z-index: 22;
            }
            
            nav .logo {
                color: #FFf;
                font-size: 30px;
                font-weight: 400;
                font-family: 'Livvic', sans-serif;
                letter-spacing: -1px;
            }
            
            nav .nav-items {
                display: flex;
                flex: 1;
                padding: 0 0 0 40px;
            }
            
            nav .nav-items li {
                list-style: none;
                padding: 0 15px;
            }
            
            nav .nav-items li a {
                color: #fff;
                font-size: 16px;
                font-weight: 600;
                font-family: 'Livvic', sans-serif;
                text-decoration: none;
            }
            
            nav .nav-items li a:hover {
                color: #ff3d00;
            }
            
            nav form {
                display: flex;
                height: 40px;
                padding: 2px;
                font-family: 'Livvic', sans-serif;
                font-size: 16px;
                background: #fff;
                min-width: 18%!important;
                border-radius: 2px;
                border: 1px solid rgba(155, 155, 155, 0.2);
            }
            
            nav form .search-data {
                width: 100%;
                height: 100%;
                padding: 0 10px;
                color: #fff;
                font-size: 17px;
                border: none;
                font-weight: 500;
                background: none;
            }
            
            nav form button {
                padding: 0 15px;
                color: #fff;
                font-size: 17px;
                background: rgb(5, 47, 157);
                background: linear-gradient(71deg, rgba(5, 47, 157, 1) 0%, rgba(15, 18, 61, 1) 100%, rgba(15, 18, 61, 0.9164040616246498) 100%);
                ;
                border: none;
                border-radius: 2px;
                cursor: pointer;
            }
            
            nav form button:hover {
                background: #535251;
            }
            
            nav .menu-icon,
            nav .cancel-icon,
            nav .search-icon {
                width: 40px;
                text-align: center;
                margin: 0 50px;
                font-size: 18px;
                color: #Fff;
                cursor: pointer;
                display: none;
            }
            
            nav .menu-icon span,
            nav .cancel-icon,
            nav .search-icon {
                display: none;
            }
            
            @media (max-width: 1245px) {
                nav {
                    padding: 0 50px;
                }
            }
            
            @media (max-width: 1140px) {
                nav {
                    padding: 0px;
                }
                nav .logo {
                    flex: 2;
                    text-align: center;
                }
                nav .nav-items {
                    position: fixed;
                    z-index: 99;
                    top: 70px;
                    width: 100%;
                    left: -100%;
                    height: auto;
                    padding: 10px 50px 0 50px;
                    text-align: center;
                    background: #14181f;
                    display: inline-block;
                    transition: left 2s ease;
                }
                nav .nav-items.active {
                    left: 0px;
                }
                nav .nav-items li {
                    line-height: 40px;
                    margin: 30px 0;
                }
                nav .nav-items li a {
                    font-size: 20px;
                }
                nav form {
                    position: absolute;
                    top: 80px;
                    right: 50px;
                    opacity: 0;
                    pointer-events: none;
                    transition: top 0.3s ease, opacity 0.1s ease;
                }
                nav form.active {
                    top: 95px;
                    opacity: 1;
                    pointer-events: auto;
                }
                nav form:before {
                    position: absolute;
                    content: "";
                    top: -13px;
                    right: 0px;
                    width: 0;
                    height: 0;
                    z-index: -1;
                    border: 10px solid transparent;
                    border-bottom-color: #1e232b;
                    margin: -20px 0 0;
                }
                nav form:after {
                    position: absolute;
                    content: '';
                    height: 60px;
                    padding: 2px;
                    background: #1e232b;
                    border-radius: 2px;
                    min-width: calc(100% + 20px);
                    z-index: -2;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                nav .menu-icon {
                    display: block;
                }
                nav .search-icon,
                nav .menu-icon span {
                    display: block;
                }
                nav .menu-icon span.hide,
                nav .search-icon.hide {
                    display: none;
                }
                nav .cancel-icon.show {
                    display: block;
                }
            }
            
            nav .logo.space {
                color: red;
                padding: 0 5px 0 0;
            }
            
            @media (max-width: 980px) {
                nav .menu-icon,
                nav .cancel-icon,
                nav .search-icon {
                    margin: 0 20px;
                }
                nav form {
                    right: 30px;
                }
            }
            
            @media (max-width: 350px) {
                nav .menu-icon,
                nav .cancel-icon,
                nav .search-icon {
                    margin: 0 10px;
                    font-size: 16px;
                }
            }
            
            .navbar.sticky {
                padding: 10px 5px;
                box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
            }
            
            .animation {
                width: 0px;
                height: 0px;
                position: absolute;
                top: 100px;
                left: 50px;
                opacity: 0.2;
                z-index: -1;
            }
            
            .hero {
                position: relative;
                background: rgb(5, 47, 157);
                background: linear-gradient(71deg, rgba(5, 47, 157, 1) 0%, rgba(15, 18, 61, 1) 100%, rgba(15, 18, 61, 0.9164040616246498) 100%);
            }
            
            .hero-area {
                display: flex;
                margin-bottom: 50px;
                justify-content: center;
                align-items: center;
            }
            
            @media only screen and (max-width: 768px) {
                .hero-area {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
            
            .hero-itame h1 {
                font-size: 42px;
                line-height: 55px;
                font-weight: 700;
                font-family: 'Livvic', sans-serif;
                line-height: 54px;
                color: #fff;
            }
            
            .hero-itame {
                height: auto;
                width: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
            }
            
            .hero-itame2 {
                height: 80vh;
                width: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
            }
            
            @media only screen and (max-width:991px) {
                .hero-itame1 {
                    height: auto;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
            
            @media only screen and (max-width:991px) {
                .hero-itame2 {
                    height: auto;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
            
            @media only screen and (max-width:768px) {
                .hero-itame {
                    height: auto;
                    width: 100%;
                }
            }
            
            .hero-itame1 {
                width: 100%;
                height: auto;
            }
            
            .h-i-itame-content {
                width: 100%;
                height: auto;
                padding: 20px 20px;
            }
            
            .h-i-itame-content-1 {
                margin-top: 70px;
            }
            
            .hero-btns {
                width: auto;
                display: flex;
                margin-top: 20px;
                justify-content: left;
            }
            
            .hero-btn {
                /* width: 7rem;
                height: 3rem;*/
                width: 170px;
                height: 56px;
                font-size: 16px;
                line-height: 26px;
                font-weight: 500;
                margin-bottom: 50px;
                background: rgb(6, 43, 145);
                background: linear-gradient(38deg, rgba(6, 43, 145, 1) 0%, rgba(255, 255, 255, 1) 500%);
                transition: 2s;
                display: grid;
                place-items: center;
                /* From https://css.glass */
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(3.7px);
                -webkit-backdrop-filter: blur(3.7px);
                border: 1px solid #fff;
            }
            
            .hero-btn2 {
                margin-left: 25px;
                background-color: transparent;
                border: 1px solid #fdfeff;
                color: #0e172c;
            }
            
            .hero-btn2 a {
                color: #fff;
            }
            
            .hero-btn1 a {
                color: #fff;
            }
            
            .hero-btn:hover {
                background-color: #b8410a;
                z-index: 2;
                /* From https://css.glass */
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(2.8px);
                -webkit-backdrop-filter: blur(2.8px);
                border: 1px solid rgba(146, 137, 137, 0.95);
            }
            
            .hero-btn a:hover {
                color: #b8410a;
                z-index: 2;
            }
            
            .catagory-con {
                width: 90%;
                height: auto;
                padding: 10px;
                margin: auto;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
            
            .catagory-box {
                position: relative;
                width: 100px;
                height: 100px;
                margin: 20px 10px;
                transition: 2s;
                display: grid;
                place-items: center;
                cursor: pointer;
                /* From https://css.glass */
                border-radius: 50%;
                border: 2px solid #0671B7;
            }
            
            .catagory-box::before {
                content: "";
                width: inherit;
                height: inherit;
                background: rgb(6, 43, 145);
                background: linear-gradient(38deg, rgba(6, 43, 145, 1) 0%, rgba(255, 255, 255, 1) 500%);
                border-radius: 50%;
                position: absolute;
                opacity: 0;
                transition: all 0.3s linear;
                z-index: -1;
            }
            
            .catagory-box::after {
                content: "";
                width: inherit;
                height: inherit;
                border: 2px dashed #b8410a;
                border-radius: 50%;
                position: absolute;
                transition: all 0.3s linear;
                z-index: 2;
                opacity: 0;
            }
            
            .catagory-box:hover::before {
                transform: scale(0.8);
                opacity: 1;
            }
            
            .catagory-box:hover::after {
                animation: rotates 5s linear infinite;
                opacity: 1;
            }
            
            @keyframes rotates {
                0% {
                    transform: scale(0.9) rotate(10deg);
                }
                100% {
                    transform: scale(0.9) rotate(360deg);
                }
            }
            
            .catagory-box p {
                color: #0e172c;
                padding-top: 5px;
            }
            
            @media only screen and (max-width:768px) {
                .catagory-con {
                    width: 100%;
                    height: auto;
                    padding: 10px;
                    margin: auto;
                    display: flex;
                    justify-content: center;
                }
            }
            
            @media only screen and (max-width:530px) {
                .catagory-con {
                    width: 100%;
                    height: auto;
                    padding: 10px;
                    margin: auto;
                    display: flex;
                    justify-content: center;
                }
                .catagory-box {
                    padding-top: 10px;
                    margin: 20px 10px;
                    transition: 2s;
                }
            }
            
            .c-prodact-body {
                margin-top: 50px;
                /**                 */
                width: 100%;
                height: auto;
                padding-top: 50px;
                padding-bottom: 50px;
            }
            
            .c-prodact-body h2 {
                text-align: center;
                font-size: 36px;
                line-height: 46px;
                font-weight: 700;
            }
            
            .c-p-wrapper {
                position: relative;
                width: 95%;
                margin: auto;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
            }
            
            .c-p-wrapper .c-p-card {
                position: relative;
                background: #fff;
                border-radius: 3px;
                width: 250px;
                height: 220px;
                margin: 30px 30px;
                overflow: hidden;
                box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.15);
            }
            
            .c-p-wrapper .c-p-card img {
                width: 100%;
                border-radius: 3px;
                transition: all 0.3s ease;
            }
            
            .c-p-card:hover img {
                transform: scale(1.1);
            }
            
            .c-p-wrapper .c-p-card .c-p-content {
                position: absolute;
                width: 100%;
                bottom: -50%;
                background: #fff;
                padding: 10px 20px 22px 20px;
                box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.15);
                transition: all 0.3s ease;
            }
            
            .c-p-wrapper .c-p-card:hover .c-p-content {
                bottom: 0;
            }
            
            .c-p-card .c-p-content .c-p-row,
            .c-p-content .buttons {
                display: flex;
                justify-content: space-between;
            }
            
            .c-p-content .c-p-row .c-details span {
                font-size: 22px;
                font-weight: 600;
                list-style: 30px;
            }
            
            .c-p-content .c-p-row .c-details p {
                color: #333;
                font-size: 16px;
                line-height: 29px;
                font-weight: 400;
            }
            
            .c-p-content .buttons {
                margin-top: 20px;
            }
            
            .c-p-content .c-buttons button {
                width: 100%;
                padding: 9px 0;
                outline: none;
                cursor: pointer;
                font-size: 16px;
                line-height: 26px;
                font-weight: 500;
                border-radius: 3px;
                border: 2px solid#0e172c;
                text-transform: uppercase;
                transition: all 0.3s ease;
            }
            
            .c-buttons button:first-child {
                color: #ff7979;
                margin-right: 10px;
                background: #fff;
            }
            
            button:first-child:hover {
                color: #fff;
                background: #0671B7;
                ;
            }
            
            @media only screen and (max-width:530px) {
                .c-p-wrapper {
                    position: relative;
                    width: 100%;
                    margin: auto;
                    display: flex;
                    flex-wrap: wrap;
                }
                .c-p-wrapper .c-p-card {
                    position: relative;
                    background: #fff;
                    border-radius: 3px;
                    width: 150px;
                    height: 200px;
                    margin: 10px 10px;
                }
                .c-p-wrapper .c-p-card .c-p-content {
                    bottom: -70%;
                }
                .c-p-content .c-p-row .c-details span {
                    font-size: 15px;
                }
                .c-p-content .c-buttons button {
                    font-size: 15px;
                }
            }
            
            .prodact-body {
                margin-top: 50px;
                /**                 */
                background: rgb(6, 43, 145);
                background: linear-gradient(38deg, rgba(6, 43, 145, 1) 0%, rgba(255, 255, 255, 1) 500%);
                padding-top: 50px;
                padding-bottom: 50px;
            }
            
            .prodact-body h2 {
                text-align: center;
                color: #fff;
                font-size: 36px;
                line-height: 50px;
                font-weight: 700;
            }
            
            .p-wrapper {
                position: relative;
                max-width: 1130px;
                margin-top: 50px;
                margin-bottom: 50px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
            }
            
            .p-wrapper .p-card {
                position: relative;
                background: #fff;
                border-radius: 3px;
                max-width: 330px;
                margin: 15px;
                overflow: hidden;
                box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.15);
            }
            
            .p-wrapper .p-card img {
                width: 100%;
                border-radius: 3px;
                transition: all 0.3s ease;
            }
            
            .p-card:hover img {
                transform: scale(1.1);
            }
            
            .p-wrapper .p-card .p-content {
                position: absolute;
                width: 100%;
                bottom: -58%;
                background: #fff;
                padding: 10px 20px 22px 20px;
                box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.15);
                transition: all 0.3s ease;
            }
            
            .p-wrapper .p-card:hover .p-content {
                bottom: 0;
            }
            
            .p-card .p-content .p-row,
            .p-content .buttons {
                display: flex;
                justify-content: space-between;
            }
            
            .p-content .p-row .details span {
                font-size: 22px;
                line-height: 33px;
                font-weight: 600;
            }
            
            .p-content .p-row .details p {
                color: #333;
                font-size: 16px;
                line-height: 29px;
                font-weight: 400;
            }
            
            .p-content .p-row .price {
                color: #ff7979;
                font-size: 25px;
                font-weight: 600;
            }
            
            .p-content .buttons {
                margin-top: 20px;
            }
            
            .p-content .buttons button {
                width: 100%;
                padding: 9px 0;
                outline: none;
                cursor: pointer;
                font-size: 16px;
                line-height: 26px;
                font-weight: 500;
                border-radius: 3px;
                border: 2px solid#0e172c;
                ;
                text-transform: uppercase;
                transition: all 0.3s ease;
            }
            
            .buttons button:first-child {
                color: #ff7979;
                margin-right: 10px;
                background: #fff;
            }
            
            button:first-child:hover {
                color: #fff;
                background: #0671B7;
                ;
            }
            
            .buttons button:last-child {
                color: #fff;
                margin-left: 10px;
                background: rgb(6, 43, 145);
                background: linear-gradient(38deg, rgba(6, 43, 145, 1) 0%, rgba(255, 255, 255, 1) 500%);
            }
            
            button:last-child:hover {
                border-color: #ff6666;
            }
            
            .see-all {
                display: flex;
                width: 50%;
                margin: auto;
                margin-bottom: 50px;
                justify-content: center;
            }
            
            .see-all button a {
                text-decoration: none;
                z-index: 1;
                color: #fff;
                font-size: 16px;
                line-height: 26px;
                font-weight: 500;
            }
            
            .see-all button {
                width: 170px;
                height: 56px;
                font-size: 18px;
                line-height: 30.6px;
                font-weight: 500;
                background: rgb(6, 43, 145);
                background: linear-gradient(38deg, rgba(6, 43, 145, 1) 0%, rgba(255, 255, 255, 1) 500%);
                transition: 2s;
                display: grid;
                place-items: center;
                /* From https://css.glass */
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(3.7px);
                -webkit-backdrop-filter: blur(3.7px);
                border: 1px solid rgba(146, 137, 137, 0.49);
            }
            
            .tallk {
                width: 90%;
                margin: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            .tallk-itame {
                margin: 5px;
                width: auto;
                padding: 100px 0px;
            }
            
            .tallk-itame1 {
                width: 60%;
            }
            
            .tallk-itame2 {
                width: 40%;
                display: grid;
                place-items: center;
            }
            
            .tallk-itame1 h3 {
                font-size: 36px;
                line-height: 50px;
                font-weight: 700;
            }
            
            .talk-btn a {
                text-decoration: none;
                color: #fff;
                font-size: 16px;
            }
            
            .talk-btn {
                width: 170px;
                height: 56px;
                font-size: 16px;
                font-weight: 500;
                background: rgb(6, 43, 145);
                background: linear-gradient(38deg, rgba(6, 43, 145, 1) 0%, rgba(255, 255, 255, 1) 500%);
                transition: 2s;
                display: grid;
                place-items: center;
                /* From https://css.glass */
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(3.7px);
                -webkit-backdrop-filter: blur(3.7px);
                border: 1px solid rgba(146, 137, 137, 0.49);
            }
            
            @media only screen and (max-width:991px) {
                .tallk {
                    flex-direction: column;
                    justify-content: center;
                }
                .tallk-itame {
                    width: 90%;
                    padding: 10px 10px;
                }
                .tallk-itame1 {
                    padding-top: 70px;
                    padding-bottom: 30px;
                }
                .tallk-itame2 {
                    padding-top: 30px;
                    padding-bottom: 50px;
                }
                .tallk-itame1 h3 {
                    line-height: 50px;
                    font-weight: 700;
                }
            }
            
            footer {
                width: 100%;
                height: auto;
                background: rgb(205, 220, 250);
                background: linear-gradient(158deg, rgba(205, 220, 250, 1) 100%, rgba(15, 18, 63, 1) 100%);
            }
            
            footer h5 {
                font-size: 22px;
                font-weight: 600px;
                line-height: 40px;
            }
            
            .footer-con {
                padding-top: 100px;
                width: 100%;
                height: auto;
                margin: auto;
                display: flex;
                padding-bottom: 20px;
            }
            
            @media only screen and (max-width:991px) {
                .footer-con {
                    flex-direction: column;
                }
                .footer-itame {
                    margin-bottom: 50px;
                }
            }
            
            .footer-itame {
                width: 250px;
                height: auto;
                margin-left: 50px;
            }
            
            .footer-itame1 p {
                font-size: 16px;
                font-weight: 400;
                line-height: 29px;
            }
            
            .footer-itame p {
                font-size: 16px;
                margin: 0;
                line-height: 26px;
                font-weight: 400;
            }
            
            .footer-itame form {
                position: relative;
                margin-top: 10px;
            }
            
            .footer-itame form button {
                width: 3rem;
                height: 3rem;
                outline: none;
                border-radius: 50%;
                margin-left: 5px;
                background-color: rgb(0, 26, 255);
                color: #fff;
                position: absolute;
                top: 0px;
                right: 3rem;
                z-index: 22;
                border: none;
            }
            
            .footer-itame form input {
                border-radius: 20px 20px 20px 20px;
                outline: none;
                border: none;
                padding: 10px;
                width: 12rem;
            }
            
            .end {
                border: 1px solid black;
                width: 100%;
                margin: auto;
            }
            
            .end h6 {
                text-align: center;
                padding: 10px;
            }